@using SM.Entity
@model User
@{ Layout = "_Layout"; }
@{ ViewData["Title"] = "Registration Page";
    var error = TempData["Error"] as string;
    var linkSendMsg = TempData["linkSendMsg"] as string;
    var RecordNotExistsMsg = TempData["WrongMailMsg"] as string;}

<div class="register-box m-auto">
    <div class="register-logo mt-5">
        <a asp-action="Dashboard" asp-controller="Home"><b>School</b>Management</a>
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow mt-3">
                        <p class="login-box-msg mt-3">Forgot Password</p>
                        @if (!string.IsNullOrEmpty(error))
                        {
                        <span class="text-danger m-auto">@error </span>}
                        @if (!string.IsNullOrEmpty(linkSendMsg))
                        {
                        <span class="text-success d-flex justify-content-center">@linkSendMsg </span>}
                         @if (!string.IsNullOrEmpty(RecordNotExistsMsg))
                        {
                        <span class="text-danger d-flex justify-content-center">@RecordNotExistsMsg </span>}
                        <!-- Forgot password model -->
                        <form id="idSigninForm" method="post" asp-controller="Auth" asp-action="Sendlink">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="email" asp-for="EmailAddress" class="form-control" placeholder="Enter email">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-envelope"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row m-auto">
                                <div class="col">
                                    <button type="submit" name="submit" class="btn btn-primary btn-block"> Send E-mail </button>
                                </div>
                            </div>
                        </form>
                        <!-- Forgot password model -->
                        <a asp-controller="Auth" asp-action="Login" class="text-center mt-3 mb-3">I already have a membership</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

