@model SM.Models.ForgotPassword
@{ Layout = "_Layout"; }
@{ ViewData["Title"] = "SetPassword Page";
    var successMsg = TempData["successMsg"] as string;
    var failureMsg = TempData["failureMsg"] as string;
}
<div class="register-box m-auto">
    <div class="register-logo mt-5">
        <a asp-action="Dashboard" asp-controller="Home"><b>School</b>Management</a>
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow mt-3">
                        <p class="login-box-msg mt-3">Reset Your Password Here</p>
                        @if (!string.IsNullOrEmpty(successMsg))
                         {
                            <span class="text-success d-flex justify-content-center">@successMsg </span>
                             <a class="text-cyan d-flex justify-content-center mb-3" asp-controller="Auth" asp-action="Login">  Back to login </a>
                         }
                         @if (!string.IsNullOrEmpty(failureMsg))
                         {
                            <span class="text-danger d-flex justify-content-center">@failureMsg </span>
                         }
                         
                        <!-- Reset Password form -->
                        <form id="idSigninForm" method="post" asp-controller="Auth" asp-action="ForgotPassword">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" asp-for="Password" class="form-control" placeholder=" Enter Password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" asp-for="RetypePassword" class="form-control" placeholder="Retype password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="RetypePassword" class="text-danger"></span>
                                </div>
                            </div>

                            @*<div class="form-group">
                                @Html.HiddenFor(a => a.ResetCode)
                            </div>*@
                            <div class="row m-auto">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-block mb-3">  Forgot Password </button>
                                </div>
                            </div>
                        </form>
                        <!--/. Reset Password form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>