@*@using SM.Entity
<div class="modal shadow" id="idSendMailModel">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-header">
            <p class="modal-title" id="popup-loginLabel">
               <b>Send Mail to users</b>
            </p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form method="post">
               <div class="row mt-3">
                  <input type="email" class="form-control" id="idEmail" placeholder="Enter your e-mail here" value="@Model.EmailAddress" readonly>
               </div>
               <input type="hidden" id="id" class="form-control" value="@Model.UserId" />
               <input type="hidden" id="idEmail" class="form-control" value="@Model.EmailAddress" />
               <br>
               <button type="button" class="btn btn-danger btn-block" onclick="fnPostSendMail()" data-dismiss="modal">
                  Send E-mail
               </button>
            </form>
         </div>
      </div>
   </div>
</div>*@