@using SM.Entity

<div class="modal shadow" id="DeleteDetailsModel">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-header">
            <p class="modal-title" id="popup-loginLabel">
               <b>Delete Details</b>
            </p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="row mt-3 ">
               <span class="text-center"> Are you sure you want to delete this user ?</span>
            </div>
            <input type="hidden" id="id" class="form-control" value="@Model.UserId" />
            <br>
            <button type="button" class="btn btn-danger btn-block" onclick="fnPostDeleteDetail()" data-dismiss="modal">
               Delete
            </button>
         </div>
      </div>
   </div>
</div>